@model InventoryPurchasePaymentModel
@inject Nop.Services.Catalog.IPriceFormatter priceFormatter
@{
    //page title
    ViewBag.PageTitle = T("Admin.Catalog.InventoriesUpdatePayment").Text;
    //active menu item (system name)
    Html.SetActiveMenuItemSystemName("InventoriesUpdatePayment");
}

<div class="content">

    <div class="content-header">
        <div class="btn-group pull-right">
            <a class="btn bg-blue" id="confirm-pay" disabled="@Model.ReadOnly">
                <i class="fa fa-money"></i>
                @T("Admin.Common.ConfirmPayment")
            </a>

            <a class="btn bg-red" id="cancel-pay" disabled="@Model.ReadOnly">
                <i class="fa fa-trash-o"></i>
                @T("Admin.Common.CancelPayment")
            </a>

            @if (!Model.ReadOnly)
            {
                <nop-action-confirmation asp-button-id="confirm-pay" />

                <nop-action-confirmation asp-button-id="cancel-pay" />
            }


        </div>
    </div>


    @if (!(Model.ReadOnly || Model.AvailableInventoryPurchaseSearchModel.Length == 0))
    {
        <div class="panel-heading">
            @T("Admin.Inventories.ExcludedPurchased")
        </div>
        @await Html.PartialAsync("_InventoryPurchaseNotInPayment", Model)
    }

    <div class="panel-heading">
        @T("Admin.Inventories.PaymentSummary")
    </div>
     
    @await Html.PartialAsync("_InventoryPurchaseIncluded", Model.IncludedInventoryPurchaseSearchModel)

    <div class="form-horizontal">
        <div class="panel-group">
            <div class="panel panel-default">

                <form asp-controller="Inventory" asp-action="ConfirmPayment" method="post">
                    <div asp-validation-summary="All"></div>
                    <input asp-for="Id" type="hidden" />
                    <div class="form-group">
                        <div class="col-md-2">
                            <nop-label asp-for="Note" />
                        </div>
                        <div class="col-md-10">
                            <nop-editor asp-for="Note" asp-disabled="@Model.ReadOnly" />
                            <span asp-validation-for="Note"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-2">
                            <nop-label asp-for="DownloadId" />
                        </div>
                        <div class="col-md-10">
                            <nop-editor asp-for="DownloadId" asp-disabled="@Model.ReadOnly" asp-required="true" />
                            <span asp-validation-for="DownloadId"></span>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<nop-alert asp-alert-id="statesAlert" asp-alert-message="@T("Admin.Common.Alert.States.Failed")" />
<script>
    $(document).ready(function () {
        $('#confirm-pay-action-confirmation-submit-button').click(function() {
            var note = $("#@Html.IdFor(model => model.Note)").val();
            var downloadId = $("#@Html.IdFor(model => model.DownloadId)").val();

            $('#confirm-pay').attr('disabled', true);

            var postData = {
                id: '@Model.Id',
                note: note,
                downloadId: downloadId
            };

            addAntiForgeryToken(postData);

            $.ajax({
                cache: false,
                type: "POST",
                url: "@(Url.Action("ConfirmPayment", "Inventory"))",
                data: postData,
                success: function (data, textStatus, jqXHR) {
                    if (data.result) {
                        //reload grid
                        window.location.href = '@(Url.Action("List","Inventory", null))';
                    } else {
                        alert(data.message);
                    }
                },
               complete: function (jqXHR, textStatus) {
                   $('#confirm-pay').attr('disabled', false);
                }
            });
            $('#confirm-pay-action-confirmation').modal('toggle');
            return false;
        });


	$('#cancel-pay-action-confirmation-submit-button').click(function() {
            $('#cancel-pay').attr('disabled', true);

            var postData = {
                id: '@Model.Id',
            };

            addAntiForgeryToken(postData);

            $.ajax({
                cache: false,
                type: "POST",
                url: "@(Url.Action("CancelPayment", "Inventory"))",
                data: postData,
                success: function (data, textStatus, jqXHR) {
                    if (data.result) {
                        window.location.href = '@(Url.Action("List","Inventory", null))';
                    } else {
                        //display errors if returned
                        alert(data.message);
                    }
                },
               complete: function (jqXHR, textStatus) {
                   $('#cancel-pay').attr('disabled', false);
                }
            });
              $('#cancel-pay-action-confirmation').modal('toggle');
            return false;
    });
    });
     
</script>
