@model ManageInventoryModel

@{
    //page title
    ViewBag.PageTitle = T("Admin.Catalog.Inventories").Text;
    //active menu item (system name)
    Html.SetActiveMenuItemSystemName("Inventories");

    const string hidePurchasingRecordKey = "Inventories.HidePurchasingRecordKey";
    var hidePurchasingRecord = genericAttributeService.GetAttribute<bool>(workContext.CurrentCustomer, hidePurchasingRecordKey, defaultValue: false);
}

<div class="content-header clearfix">
    <h1 class="pull-left">
        @T("Admin.Catalog.Inventories")
    </h1>
    <div class="pull-right">
        <a class="btn bg-blue" id="add-purchase">
            <i class="fa fa-plus-square"></i>
            @T("Admin.Catalog.Inventories.AddPurchasingRecord")
        </a>

        <nop-editor asp-for="Amount" />

    </div>
</div>

<div class="content">
    @await Html.PartialAsync("_InventorySearch", Model.InventorySearchModel)

    <div class="panel-body">
        <button type="button" class="btn btn-primary" onclick="location.href = '@Url.Action("Payment","Inventory")'">
            @T("Admin.Common.Pay")
        </button>
    </div>

    <nop-panel asp-name="inventory-purchase" asp-icon="fa fa-money" asp-title="@T("Admin.Catalog.Inventories.UnpaidPurchasingRecord")" asp-hide-block-attribute-name="@hidePurchasingRecordKey" asp-hide="@hidePurchasingRecord" asp-advanced="false">
        @await Html.PartialAsync("_InventoryPurchase", Model.InventoryPurchaseSearchModel)
    </nop-panel>
</div>

    <script>
                        $(document).ready(function () {
                            $('#add-purchase').bind('click', function () {
                                var quantity = $('#Amount').val();
                                var inventoryTable = $('#inventories-grid').DataTable();
                                var selectedInventories = inventoryTable.rows().data().filter(row => selectedIds.indexOf(""+row.Id) >= 0);
                                var postData = {
                                    selectedInventories: selectedInventories.toArray(),
                                    quantity: quantity
                                };
                                addAntiForgeryToken(postData);
                                $.ajax({
                                    cache: false,
                                    type: "POST",
                                    url: "@(Url.Action("PurchaseInventories", "Inventory"))",
                                    data: postData,
                                    error: function (jqXHR, textStatus, errorThrown) {
                                        display_nop_error(textStatus);
                                    },
                                    complete: function (jqXHR, textStatus, error) {
                                        error && display_nop_error(error);
                                        updateTable('#inventory-purchase-grid');
                                        updateTable('#inventories-grid');
                                    }
                                });                                
                                return false;
                            });
                        });

    </script>


